body {
  margin: .75em;
  background: url(../assets/images/bg.jpg);
  background-size: cover;
}

canvas {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    margin-left: 0%;
    margin-top: 10%;
    background-color: white;
}

.game {
    width: 45%;
    margin: 0 auto;
}   